@import "tailwindcss";

@theme {
  --color-eco-accent: #059669;
  --color-eco-accent-dark: #047857;
  --color-red-accent: #ef4444;
  --color-red-dark: #dc2626;
  --color-eco-bg: #064E3B;
  --color-eco-card: #065F46;
  --color-eco-border: #047857;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

* {
  box-sizing: border-box;
}
